@import "bourbon";
@import "neat";

// Base
@import "base/normalize";
@import "base/grid";

// Utilities
@import "utils/variables";
@import "utils/mixins";

// Components

// Partials


spinner {
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background:#fff;
  text-align:center;
}

body {
  font-family:Helvetica;
}