<form name="newRoomForm" ng-submit="newRoom()">

  <input required type="text" ng-model="roomName" placeholder="Chatroom name">
  <br />
  <input type="password" ng-disabled="noPassword" ng-model="passwordVal" placeholder="Password">
  <input id="no-password" type="checkbox" ng-model="noPassword" ng-true-value="true">
  <label for="no-password">Don't password protect my room</label>
  <br />
  <button type="submit">Create Room</button>

</form>

<!-- <div class="room" ng-repeat="room in rooms">
  <span>{{room.roomName}}</span>
  <a href="javascript:" ng-click="joinChat($index)">Enter</a>
</div> -->