<div id="messages">
  <div ng-repeat="message in messages">
    {{message.user}}: {{message.body}}
  </div>
</div>

<form ng-submit="submit($event)">
  <input type="text" ng-model="name" ng-hide="usernameSelected" ng-disabled="stayAnon == 'true'" placeholder="Choose a username">
  <span ng-model="name" ng-show="usernameSelected">{{name}}:</span>
  <input type="text" ng-model="message" placeholder="Message...">
  <button type="submit">Send</button>
  <br />
  <label for="checkbox" ng-hide="usernameSelected">Stay anonymous</label>
  <input type="checkbox" ng-hide="usernameSelected" ng-model="stayAnon" ng-true-value="true" ng-false-value="false" id="checkbox">
</form>
